/* --- Base Button Style --- */
.button {
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 16px;
}

/* ---  Filled Variant --- */
.btn-filled {
  background-color: #00796B;
  color: #FFFFFF;
}
.btn-filled:hover {
  background-color: #064E3B;
}

/* --- 2. Green-outline Variant --- */
.btn-green-outline {
  background-color: none;
  color: #00796B;
  border-color: #00796B;
}
.btn-green-outline:hover {
  background-color: #D1FAE5;
}

/* --- 3. Black-outline Variant --- */
.btn-black-outline {
  background-color: none;
  color: #000000;
  border-color: #424242;
}
.btn-black-outline:hover {
  background-color: #9E9E9E;
}

/* --- Disabled State --- */
.btn:disabled {
  background-color: #C8C8C8;
  color: #9E9E9E;
  cursor: not-allowed;
  transform: none;
}